rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir lectura y escritura temporal en todas las colecciones para evitar bloqueos
    match /{document=**} {
      allow read, write: if true;
    }

  }
}